html,
body {
  background-color: #fbf5e3;
  margin: 0px;
  padding: 0px;
}
section {
  height: 500px;
}
.cover {
  width: 90%;
  min-width: 500px;
  margin: auto;
}
.image {
  position: absolute;
  width: 1263.33px;
  height: 800px;
  left: 0px;
  top: 0px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}
.vector {
  position: absolute;
  left: 67.43%;
  right: 28.47%;
  top: 500px;
  bottom: 81.43%;
}

.main-heading {
  position: absolute;
  width: 846px;
  height: 116px;
  left: 279px;
  top: 170px;
}
.style-Heading {
  font-family: "Varela Round", sans-serif;
  color: #ffff;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.1em;
}
.middle-heading {
  position: absolute;
  /*width: 967px;
  height: 56px;*/
  left: 346px;
  top: 400px;
}
.subheading {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.095em;
  color: #fdff89;
}

.sub-section {
  position: absolute;
  width: 1000px;
  height: 2100px;
  left: 120px;
  top: 940px;
  background: #ffffff;
}
.red {
  position: absolute;
  left: 130px;
  top: 800px;
  right: 500px;
}
.salute {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.235em;
  color: #ff1414;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 900px;
}
.timeline {
  position: absolute;
  width: 967px;
  height: 56px;
  left: 100px;
  top: 30px;
}
.timeline-heading {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #000000;
  width: 800px;
}
#info {
  text-align: center;
  width: 800px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}
h2 {
  width: 800px;
  font-family: "Ubuntu", sans-serif;
}
.video-full {
  align-items: center;
  padding: 20px;
  background: transparent;
  background-color: white;
  box-shadow: 0 0 9.5px 0.5px rgb(1 0 0 / 20%);
  width: 560px;
}
h3 {
  font-weight: bold;
}
.last {
  text-align: right;
  font-size: 15px;
  font-style: normal;
  height: 20px;
  padding: 90px;
}
